<%- include('../../partials/header/feed-current-upcoming') %>

<div class="layout">
    <aside class="sidebar left">
        <!-- e.g. Profile / Trip Switcher -->
        <%- include('./sidebar-left') %>
    </aside>

    <main class="feed">
        <div class="post-container">

            <%- include('post', { trip:currentOrUpcomingTrip, post }) %>

        </div>

        <div class="replies-section" id="replies-section">
            <%- include('replies-section',{post}) %>
        </div>

    </main>

    <aside class="sidebar right">
        <!-- e.g. Suggested posts / About Ratambuzza -->
        <%- include('./sidebar-right-reply', { trip:currentOrUpcomingTrip }) %>
    </aside>
</div>

<%- include('new-reply-modal',{trip:currentOrUpcomingTrip}) %>


<%- include('../../partials/footer') %>