<form id="postcards-form" hx-post="/trips/<%= currentOrUpcomingTrip.slug %>/postcards/new"
    hx-target="#new-postcard-form-container" hx-swap="innerHTML">
    <fieldset <%- hasPending ? "disabled" :"" %>>
        <h2>Create una postal</h2>

        <div class="multi-avatar-picker">
            <label for="avatar-select">Avatares (Max 3):</label>
            <select name="avatars" id="avatar-select" multiple>
                <% avatars.forEach(a => { %>
                <option value="<%= a.handle %>"
                    <% if(typeof selectedAvatars != "undefined" && selectedAvatars.includes(a.handle)) {%>
                    selected<% } %>
                    data-custom-properties='{"img":"/images/avatars/thumbs/<%= a.avatar_head_file_name %>"}'>
                    <%= a.handle %>
                </option>
                <% }) %>
            </select>
        </div>


        <!-- LOCATION + ACTION ROW -->
        <div class="form-row">
            <div>
                <label for="background-select">Locación:</label>
                <select id="background-select" name="background">
                    <option>Elegí o ← para editar</option>
                    <% backgrounds.forEach(bg => { %>
                    <option
                        <%= (typeof selectedBackground !== "undefined" && selectedBackground === bg) ? "selected" : "" %>
                        value="<%= bg %>"><%= bg %></option>
                    <% }) %>
                </select>

            </div>
            <div>
                <label for="action-select">Acción:</label>
                <select id="action-select" name="action">
                    <option>Elegí o ← para editar</option>
                    <% actions.forEach(act => { %>
                    <option <% if(typeof selectedAction != "undefined" && selectedAction === act) {%> selected <% } %>
                        value="<%= act %>"><%= act %></option>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="form-row center">
            <button class="button" type="submit">Generar Postal</button>
        </div>
    </fieldset>
</form>