<form id="postcards-form" hx-post="/trips/<%= currentOrUpcomingTrip.slug %>/playground/postcards/new"
    hx-target="#new-postcard-form-container" hx-swap="innerHTML">
    <fieldset <%- hasPending ? "disabled" :"" %>>
        <h2 style="margin-bottom: 50px;">Create una postal</h2>

        <div class="form-row">
            <div class="multi-avatar-picker">
                <label for="avatar-select">Avatares:</label>
                <select name="avatars" placeholder="Elegí hasta 3" id="avatar-select" multiple>
                    <% avatars.forEach(a => { %>
                    <option value="<%= a.handle %>"
                        <% if(typeof selectedAvatars != "undefined" && selectedAvatars.includes(a.handle)) {%>
                        selected<% } %>
                        data-custom-properties='{"img":"/images/avatars/thumbs/<%= a.avatar_head_file_name %>"}'>
                        <%= a.handle %>
                    </option>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="background-select">Locación:</label>
                <input type="text" class="pixel-input" placeholder="Escribí una" id="background-select"
                    name="background" autocomplete="off"
                    value="<%= typeof selectedBackground != 'undefined' ? selectedBackground : '' %>">

                <span style="font-size: x-small;">
                    (Ejemplo: Parque de diversiones, Rio de Janeiro de noche, En la nieve...)
                </span>
            </div>

            <div>
                <label for="action-select">Acción:</label>
                <input type="text" id="action-select" placeholder="Escribí una" class="pixel-input" name="action"
                    autocomplete="off" value="<%= typeof selectedAction != 'undefined' ? selectedAction : '' %>">

                <span style=" font-size: x-small;">
                    (Ejemplo: Andando en un carrito de montaña rusa, Bailando y tomando tragos, Arrojándose bolas de nieve...)
                </span>
            </div>
        </div>

        <br>
        <br>

        <div class="form-row center">
            <button class="button" type="submit">Generar Postal</button>
        </div>
    </fieldset>
</form>