<div class="sort-options" style="margin-bottom: 1rem;">
    <h5>Filtros:</h5>
    <span class="sort-pill" data-sort="-1">recientes</span>
    <% allTags.forEach(tag=>{%>
    <span class="sort-pill" data-sort="<%= tag.id%>"><%= tag.name%></span>
    <%}) %>
</div>

<!-- <script>
    document.querySelectorAll('.sort-pill').forEach(pill => {
        pill.addEventListener('click', () => {
            // UI update
            debugger;
            document.querySelectorAll('.sort-pill').forEach(p => p.classList.remove('active'));
            pill.classList.add('active');

            const sort = pill.dataset.sort;
            const url = `/trips/<%= currentOrUpcomingTrip.slug %>/gallery?sort=${sort}`;
            htmx.ajax('GET', url, { target: '#media-grid', swap: 'innerHTML' });
        });
    });
</script> -->

<!-- <script>
    // this will be triggered when the tags are updated
    // we gotta:
    // 1) Update the filter-pills so the changes the user made are reflected
    // 2) Load the media items again (if a tag is deleted from a 
    // media item and that is the current filter, 
    // we gotta update the media items being shown)
    document.body.addEventListener('tags-updated', () => {
        let url = `/trips/<%= currentOrUpcomingTrip.slug %>/gallery/filter-pills`;
        const options = { target: `#filter-pills`, swap: 'innerHTML' };
        htmx.ajax('GET', url, options);


        // HTMX load new filtered media
        // selectedTagId is a global variable
        url = `/trips/<%= currentOrUpcomingTrip.slug %>/gallery?sort=${selectedTagId}`;
        htmx.ajax('GET', url, {
            target: '#media-grid',
            swap: 'innerHTML'
        });
    });

</script> -->